<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>User cart: <%= cart_count.count  %></h1>

  <img src="<% comic.image %>" alt="">
  <h1><%= comic.title %></h1>
  <p><%= comic.summary %></p>
  <p><%= comic.price %></p>

  <br>
  <form action="/comics" method="post">
    <input type="hidden" name="comics" value="<%= comic.id %>">
    <input type="submit" value="AddToCart">
  </form>
  <br>
  <form action="/delete_from_cart" method="post">
    <input type="hidden" name="comics" value="<%= comic.id %>">
    <input type="submit" value="delete_from_cart">
  </form>


</body>
</html>